* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  background : #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  font-family: 'Courgette', cursive;
  -webkit-text-fill-color: #131313;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 0.5em;
}

#navbar_logo::after{
  font-size: 0.8rem;
  font-family: 'Nunito', sans-serif;
  display: block;
  text-align:center;
  margin-top: 0.3em;
  content: "Violinist | Educator | Software Engineer"
}

.navbar_menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item{
  height: 80px;
}

.navbar_links{
  color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.main_container {
  display: block;
  background-color: #fff;
  background-image: url("./images/jiarongEyesCrop.jpg");
  padding-top: 300px;
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.main_container h1 {
  padding-left: 800px;
  text-align: center;
}

.main_container p {
  padding-left: 800px;
  text-align: center;
}

#about {
  background: white;
}

.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  height: 95vh;
  padding: 0 50px;
}

.about_content_left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 2rem;
}

.about_content_right {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 2rem;
}

.resume_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume_content h1{
  margin-bottom: 20px;
}

.resume_pdf {
  margin-bottom: 40px;
}

.button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #0dd17f;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover {
  background: #fff;
  color: #000;
}

.contact_container{
  width:100%;
  max-width:1400px;
  padding: 50px;
  display:block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social_media{
  height: 42px;
  width: 50px;
  margin-bottom: 20px;
}

.contact_container h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  color: #131313;
  font-size: 1.5rem;
}

.textb{
  display: flex;
  align-items:center;
  width: calc(50%-10%);
  height: 50px;
  padding: 12px;
  background-color:#fff;
  border-radius: 30px;
  margin-bottom: 20px;
}

.contact_form textarea{
  width: 40%;
  min-height: 200px;
  max-height: 400px;
  padding: 12px;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 20px;
}

.submit_button {
  display: flex;
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #0dd17f;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}
